.idea/
cmake-build-debug/

# Ignorar arquivos de compilação e saída gerados por compiladores
*.o
*.out



# Desativar conversão de quebras de linha para arquivos com extensão .txt
*.txt -text

# Ativar conversão de quebras de linha para arquivos .vcproj e .sln
*.vcproj text eol=crlf
*.sln text eol=crlf

